# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TNH-BGLoader.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GitHub2\TNH-BGLoader\.idea\.idea.TNH-BGLoader.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
